<div class="div1 info_small center">Lifespan</div>
<div class="div2 info_big center"><%= animal.lifespan %></div>
<div class="div3 info_small center">Length</div>
<div class="div4 info_big center"><%= animal.length %></div>
<div class="div5 info_small center">Weight</div>
<div class="div6 info_big center"><%= animal.weight %></div>
<div class="div7 info_small space">Food</div>
<div class="div8 info_normal"><%= animal.food %></div>
<div class="div9 info_small">Found</div>
<div class="div10 info_normal txt_right"><%= animal.found %></div>