<%- include("../partials/head.ejs")%>
<%- include("../partials/menu.ejs")%>
<body>
  <div class="container">
  <%- include("../partials/sidebar.ejs") %>
  <% if (locals.animalsList) { %>
    <% if (pageType==="animals" ) { %>
      <%- include('../partials/animals') %>
        <% }} %>
        </div>
        <%- include('../partials/footer')  %>
</body>

    <body>
      <% if (locals.animalsList) { %>
        <% if (pageType==="animals" ) { %>
          <%- include('../partials/animals') %>
            <% }} %>
              <%- include('../partials/footer') %>
    </body>